<h1 class="text-center">My first Angular component</h1>

<div class="row">
    <div class="col-md-12">
        <div class="checkbox">
            <label for="dataBind">
                <input tabindex="1" type="checkbox" id="dataBind" [(ngModel)]="dataBind" value="1"> Data binding
            </label>
        </div>
        <div class="checkbox">
            <label for="ngForSample">
                <input tabindex="1" type="checkbox" id="ngForSample" [(ngModel)]="ngForSample" value="1"> ngFor, events, attributes directives
            </label>
        </div>
    </div>
</div>

<mediasoft-data-binding-demo *ngIf="dataBind"></mediasoft-data-binding-demo>
<mediasoft-ng-for-demo *ngIf="ngForSample"></mediasoft-ng-for-demo>