<div class="row">
    <div class="col-md-7">
        <form #registrationForm="ngForm" (submit)="submit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input id="username" name="username" type="text" class="form-control" [(ngModel)]="user.username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div class="input-group">
                    <input id="password" name="password" [type]="passwordVisible ? 'text' : 'password'" class="form-control" [(ngModel)]="user.password">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" (click)="togglePasswordVisibility()">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password-repeat">Repeat password</label>
                <div class="input-group">
                    <input id="password-repeat" name="password-repeat" [type]="passwordRepeatVisible ? 'text' : 'password'" class="form-control" [(ngModel)]="user.passwordRepeat">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" (click)="togglePasswordRepeatVisibility()">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success">Submit</button>
                <button type="button" class="btn btn-warning" (click)="registrationForm.reset()">Reset</button>
            </div>
        </form>
    </div>
    <div class="col-md-5">
        <table class="table table-bordered">
            <tbody>
            <tr *ngFor="let prop of ['valid', 'invalid', 'pristine', 'dirty', 'touched', 'untouched', 'enabled', 'disabled', 'pending']">
                <td>registrationForm.{{ prop }}</td>
                <td>{{ registrationForm[prop] | json }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
