<div class="row">
    <div class="col-md-7">
        <form #registrationForm="ngForm" (submit)="submit()">
            <div class="form-group">
                <label for="username">Username <sup>*</sup></label>
                <input id="username"
                       name="username"
                       type="text"
                       class="form-control"
                       [(ngModel)]="user.username"
                       [required]="true"
                       [minlength]="3"
                       [maxlength]="10"
                       pattern="^[a-zA-Z]*">
                <p class="hint">Required, Minimal length: 3, Maximal length: 10</p>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div class="input-group">
                    <input id="password"
                           name="password"
                           [type]="passwordVisible ? 'text' : 'password'"
                           class="form-control"
                           [(ngModel)]="user.password"
                           [required]="true"
                           [minlength]="3">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" (click)="togglePasswordVisibility()">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </button>
                    </div>
                </div>
                <p class="hint">Required, Minimal length: 3</p>
            </div>
            <div class="form-group">
                <label for="password-repeat">Repeat password</label>
                <div class="input-group">
                    <input #passwordRepeat="ngModel"
                           id="password-repeat"
                           name="password-repeat"
                           [type]="passwordRepeatVisible ? 'text' : 'password'"
                           class="form-control"
                           [(ngModel)]="user.passwordRepeat"
                           [required]="true"
                           [mediasoft-equals-validator]="user.password">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" (click)="togglePasswordRepeatVisibility()">
                            <i class="glyphicon glyphicon-eye-open"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-success" [disabled]="registrationForm.invalid">Submit</button>
                <button type="button" class="btn btn-warning" (click)="registrationForm.reset()">Reset</button>
            </div>
        </form>
    </div>
    <div class="col-md-5">
        <h4>registrationForm</h4>
        <table class="table table-bordered">
            <tbody>
            <tr *ngFor="let prop of ['valid', 'invalid', 'pristine', 'dirty', 'touched', 'untouched', 'enabled', 'disabled', 'pending']">
                <td>registrationForm.{{ prop }}</td>
                <td>{{ registrationForm[prop] | json }}</td>
            </tr>
            </tbody>
        </table>
        <h4>passwordRepeat</h4>
        <pre>{{ passwordRepeat.errors | json }}</pre>
    </div>
</div>
